<div class="row">
    <div class="col-md-12">
        <h1><b> Información </b></h1>

            <h2><b>¿Quiénes somos?</b></h2>
            <p><b>Lorem Ipsum is simply dummy text of 
                the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard 
                dummy text ever since the 1500s, when an unknown 
                printer took a galley of type and scrambled it to 
                make a type specimen book.</b></p>

            <h2><b>Versión</b></h2>
            <p><b>Versión de la app 2.17</b></p>

            <h2><b>Requisitos</b></h2>
            <p><b>Lorem Ipsum is simply dummy text of 
                the printing and typesetting industry.when an unknown 
                printer took a galley of type and scrambled it to.</b></p>

            <h2><b>Empleados</b></h2>

            <base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/">
                <div id="slider">
                    <figure>
                        <img src="assets/img/220px-User_icon_2.svg.png" alt>
                        <img src="assets/img/220px-User_icon_2.svg.png" alt>
                        <img src="assets/img/220px-User_icon_2.svg.png" alt>
                    </figure>
                </div>

    </div>
</div>