<div class="row">
    <div class="col-md-12">
        <h1><b> Información </b></h1>

            <h2><b>¿Quiénes somos?</b></h2>
            <p><b>Lorem Ipsum is simply dummy text of 
                the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard 
                dummy text ever since the 1500s, when an unknown 
                printer took a galley of type and scrambled it to 
                make a type specimen book.</b></p>

            <h2><b>Versión</b></h2>
            <p><b>Versión de la app 2.17</b></p>

            <h2><b>Requisitos</b></h2>
            <p><b>Lorem Ipsum is simply dummy text of 
                the printing and typesetting industry.when an unknown 
                printer took a galley of type and scrambled it to.</b></p>

            <h2><b>Empleados</b></h2>

                <div id="slider">
                    <figure *ngFor="let empleado of empleados">
                        <img src="{{ empleados[0].url }}" alt>
                        <img src="{{ empleados[1].url }}" alt>
                        <img src="{{ empleados[2].url }}" alt>
                    </figure>
                </div>
    </div>
</div>