<table style="width:100%">
    <tr>
      <td><img src="assets/img/adidas.png" alt="adidas" routerLink="/list"></td>
      <td><img src="assets/img/nike.png" alt="nike" routerLink="/list"></td>
    </tr>
    <tr>
      <td><img src="assets/img/vans.png" alt="vans" routerLink="/list"></td>
      <td><img src="assets/img/fila.png" alt="fila" routerLink="/list"></td>
    </tr>
    <tr>
      <td><img src="assets/img/new-balance.png" alt="new-balance" routerLink="/list"></td>
      <td><img src="assets/img/reebok.png" alt="reebok" routerLink="/list"></td>
    </tr>
    <tr>
      <td><img src="assets/img/hoka.png" alt="hoka" routerLink="/list"></td>
      <td><img src="assets/img/asics.png" alt="asics" routerLink="/list"></td>
    </tr>
    <tr>
      <td><img src="assets/img/joma.png" alt="joma" routerLink="/list"></td>
      <td><img src="assets/img/puma.png" alt="puma" routerLink="/list"></td>
    </tr>
  </table>