<table style="width:100%">
    <tr>
      <td><img src="assets/img/adidas.png" alt="adidas"></td>
      <td><img src="assets/img/nike.png" alt="nike"></td>
    </tr>
    <tr>
      <td><img src="assets/img/vans.png" alt="vans"></td>
      <td><img src="assets/img/fila.png" alt="fila"></td>
    </tr>
    <tr>
      <td><img src="assets/img/new-balance.png" alt="new-balance"></td>
      <td><img src="assets/img/reebok.png" alt="reebok"></td>
    </tr>
    <tr>
      <td><img src="assets/img/hoka.png" alt="hoka"></td>
      <td><img src="assets/img/asics.png" alt="asics"></td>
    </tr>
    <tr>
      <td><img src="assets/img/joma.png" alt="joma"></td>
      <td><img src="assets/img/puma.png" alt="puma"></td>
    </tr>
  </table>